@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@300&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@300&family=Roboto+Mono:wght@300&family=Unbounded:wght@500&display=swap');


.hero-banner-img{
    background-image: url('/images/book_clustered.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.hero-banner-img::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(2, 1, 21, 0.6);
}

.gd-carousel-wrapper {
  position: relative;
}

.gd-carousel{
  position: unset;
}

.react-multiple-carousel__arrow{
  position: absolute;
} 

.react-multiple-carousel__arrow--left{
  left: calc(-3% + 1px);
}

.react-multiple-carousel__arrow--right{
  right:calc(-3% + 1px)
}

